<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raphaelmarco.vianderito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Vianderito"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SmsVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home" />
        <activity
            android:name=".activity.DocumentActivity"
            android:label="@string/document"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileEditActivity"
            android:label="@string/edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.password.ChangePasswordActivity"
            android:label="@string/change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.password.PasswordResetActivity"
            android:label="@string/forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.password.PasswordResetChangeActivity"
            android:label="@string/forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.billing.PaymentMethodsActivity"
            android:label="@string/payment_methods"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.billing.AddPaymentMethodActivity"
            android:label="@string/add_payment_method"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.billing.ViewPaymentMethodActivity"
            android:label="@string/view_payment_method"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.billing.PayActivity"
            android:label="@string/pay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.order.OrderHistoryActivity"
            android:label="@string/order_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
        <activity
            android:name=".activity.order.OrderViewActivity"
            android:label="@string/view_order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WindowActivity" />
    </application>

</manifest>